* {
  box-sizing: border-box;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --desaturated-dark-blue: hsla(216, 12%, 8%, 0.125);
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 15px;
  margin: 0;
  background-color: var(--very-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: var(--dark-blue);
  border-radius: 15px;
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
}

.container {
  padding: 2em;
}

h1,
h2 {
  color: var(--white);
}

p {
  color: var(--light-grey);
  line-height: 1.5;
}

ul {
  list-style: none;
  padding: 0;
}

.star-img {
  background-color: var(--desaturated-dark-blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1em;
}

.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
}

.submit-btn {
  background-color: var(--orange);
  padding: 1em 3em;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.rating-btn {
  border-radius: 50%;
  padding: 1em;
  background-color: var(--desaturated-dark-blue);
  color: var(--light-grey);
  width: 50px;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.rating-btn:hover {
  background-color: var(--orange);
  color: var(--white);
}

.rating-btn:focus {
  background-color: var(--medium-grey);
  color: var(--white);
}

.thank-you-state {
  text-align: center;
}

.selection {
  background-color: var(--very-dark-blue);
  border-radius: 20px;
  padding: 0.5em 1em;
  margin-block: 1em;
  display: inline-block;
}

.selection p {
  color: var(--orange);
  margin: 0;
}
