* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --desaturated-dark-blue: hsla(216, 12%, 8%, 0.125);
}

body {
  margin: 0;
  font-family: 'Overpass', sans-serif;
  background-color: var(--very-dark-blue);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
}

.container {
  padding-inline: 1.5rem;
}

h1,
h2 {
  color: var(--white);
  margin-bottom: 1rem;
}

p {
  font-size: 14px;
  line-height: 1.5;
  color: var(--light-grey);
  margin-bottom: 1rem;
}

.card {
  background-color: var(--dark-blue);
  padding: 1.5rem;
  border-radius: 16px;
}

.star-img {
  background-color: var(--desaturated-dark-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.25rem;
}

.star-img img {
  max-width: 100%;
}

.ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.btn {
  border: 0;
  cursor: pointer;
  font-weight: 700;
  display: inline-block;
}

.submit-btn {
  background-color: var(--orange);
  padding: 1rem 3rem;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 20px;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

.rating-btn {
  border-radius: 50%;
  background-color: var(--desaturated-dark-blue);
  color: var(--light-grey);
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.rating-btn:hover {
  background-color: var(--orange);
  color: var(--white);
}

.rating-btn:focus {
  background-color: var(--medium-grey);
  color: var(--white);
}

.thank-you-state {
  text-align: center;
}

.selection {
  background-color: var(--very-dark-blue);
  border-radius: 20px;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
  display: inline-block;
}

.selection p {
  color: var(--orange);
  margin: 0;
}

@media (min-width: 640px) {
  .card {
    width: 420px;
    padding: 2rem;
    border-radius: 16px;
  }

  .star-img {
    width: 50px;
    height: 50px;
    margin-bottom: 2rem;
  }

  .rating-btn {
    width: 50px;
    height: 50px;
  }

  p {
    font-size: 15px;
    margin-bottom: 1.5rem;
  }

  .ratings {
    margin-bottom: 2rem;
  }
}
